# Mostly created by https://www.gitignore.io

db.sqlite3

### App #######################################################################

public/*
!public/.keep
public_collected/*
!public_collected/.keep

.env*
!.env.example
docker-compose.override.yml


### Python ####################################################################

# Byte-compiled / optimized / DLL files
# PyCharm project files
.idea/

# Python virtual environment
venv/
env/
.venv/
lib/
bin/
include/

# Byte-code files
*.pyc
__pycache__/

# Output files
.coverage
.tox
dist/
build/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows
