# PyCharm project files
.idea/

# Python virtual environment
venv/
env/
.venv/
lib/
bin/
include/

# Byte-code files
*.pyc
__pycache__/

# Output files
.coverage
.tox
dist/
build/

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows
